body {
    background-color: #ffffff;
    padding:30px;
    font: 13px/1.5 'Roboto Condensed', -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
    color:#595959;
    font-weight:400;
  }